<h1>Login</h1>

<%= form_tag '/login' do %>

    <%= label_tag :email, class: 'input_label'%>
    <%= text_field_tag :email, class: 'input_field email_field' %>
    <%= label_tag :password, class: 'input_label'%>
    <%= password_field_tag :password, class: 'input_field password_field' %>
    <%= submit_tag "Login"%>

<%end%>